.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, rgb(41, 116, 255), rgb(121, 102, 230));
}

.hidden {
  display: none;
}

.illumination {
  font-style: italic;
}
